.searchBar {
  background-color: #316282;
  padding: 10px;
  border: 0;
  outline: 0;
  color: #FFF;
  max-width: 500px;
}

.searchBar::placeholder {
  color: #C7C7C7;
  font-style: italic;
}

.fullWidth {
  width: 100%;
}

@media (max-width: 750px) {
  .searchBar {
    min-width: auto;
    max-width: 350px;
    margin: 0 8px;
  }
}